@charset "UTF-8";
/*--------------------*/
/*  *{outline:1px solid red!important}   */
@font-face {
  font-family: "IBM3270";
  src: url("../fonts/ibm3270/3270-Regular.ttf") format("truetype"), url("../fonts/ibm3270/3270-Regular.otf") format("OpenTypef");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-SemiBold.otf") format("OpenType"), url("../fonts/inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.otf") format("OpenType"), url("../fonts/inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter-light";
  src: url("../fonts/inter/Inter-Light.otf") format("OpenType"), url("../fonts/inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}
body {
  background-color: rgb(68, 68, 68);
}

:root {
  --custom-red: #E10148;
}

.red_color {
  color: var(--custom-red);
  padding-top: 10px;
  margin-top: -10px;
}

.bg_red {
  background-color: var(--custom-red);
}

.bg_black_button {
  fill: black;
  /* изначальный цвет */
}

.black_button:hover .bg_black_button {
  fill: #5e5e5e;
  /* новый цвет при наведении */
}

.bg_red_button {
  fill: var(--custom-red);
  /* изначальный цвет */
}

.red_button:hover .bg_red_button {
  fill: #9b0a38;
  /* новый цвет при наведении */
}

.bg_white_button {
  fill: white;
  /* изначальный цвет */
}

.white_button:hover .bg_white_button {
  fill: #E10148;
  /* новый цвет при наведении */
}

.white_button:hover {
  stroke: #dbe0eb;
}

.card {
  background-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter-light";
}

p {
  font-family: "Inter-light";
  margin-bottom: 0;
}

ul {
  font-family: "Inter-light";
}

a {
  font-family: "Inter-light";
  text-decoration: none;
}

.ibm3270 {
  font-family: "IBM3270";
}

.arrow_item {
  left: -40px;
  position: relative;
}

.arrow_item_2 {
  left: -40px;
  position: relative;
}

.carousel-control-prev {
  left: -160px;
}

.carousel-control-next {
  right: -160px;
}

input {
  background: transparent;
}

.cursor_pointer {
  cursor: pointer;
}

/* .bg_pattern{
        background-image: url(../img/pattern.png);
        background-repeat: repeat;
    }   */
header {
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.сontainer_header .nav-link:hover {
  color: #E10148 !important;
}

.img-wrapper {
  overflow: hidden;
}

.bi-list {
  background-color: var(--custom-red);
  color: white;
}

.mail_item {
  fill: black;
}

.container_catalog .container_besplatniy .input_item1 {
  height: 74px;
  width: 380px;
}
.container_catalog .container_besplatniy .input_item2 {
  height: 74px;
  width: 360px;
}
.container_catalog .container_besplatniy .input_item3 {
  height: 74px;
  width: 323px;
}
.container_catalog .container_besplatniy .zamer_item {
  width: 130%;
  margin-top: -41px;
}
.container_catalog .container_consultation .input_item1 {
  height: 110px;
  width: 306px;
}
.container_catalog .container_consultation .input_item2 {
  height: 110px;
  width: 311px;
}
.container_catalog .container_consultation .input_item3 {
  height: 114px;
  width: 310px;
}
.container_catalog .container_consultation .custom_font {
  margin-left: -25px;
}
.container_catalog .container_collelcii .carousel-control-prev {
  left: -120px;
}
.container_catalog .container_collelcii .carousel-control-next {
  right: -120px;
}
.container_catalog .container_otzivi .carousel-control-prev {
  left: -120px;
}
.container_catalog .container_otzivi .carousel-control-next {
  right: -120px;
}
.container_catalog .container_product .carousel-control-prev {
  left: 0px;
}
.container_catalog .container_product .carousel-control-next {
  right: 0px;
}

.bg_baner {
  background-image: url("../img/baner_catalog_category.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_baner2 {
  background-image: url("../img/baner_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container_baner .square_item {
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}
.container_baner .fs-3xl-23 {
  font-weight: 300;
}
.container_baner li {
  list-style-type: none; /* Убираем маркеры */
}
.container_baner ul {
  margin-left: -10px; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
.container_baner .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 6px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #6b0526;
  background-clip: padding-box;
  border: 0;
  border-top-color: currentcolor;
}
.container_baner .me-1 {
  margin-right: -3px !important;
}

.container_mobile_cards a {
  box-shadow: 3px 3px 5px 0px rgb(43, 40, 43);
}

/* DROPDOWN */
.dropdown-wrapper {
  position: relative;
  background: #fff;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
}

.dropdown-wrapper:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 8px;
  border-width: 10px 10px 0 10px;
  width: 10px;
  height: 10px;
  border-top: 2px solid #999999;
  border-left: 2px solid #999999;
  transform: rotate(-135deg);
}

.dropdown-wrapper.is-active {
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  border-bottom: none;
}

.dropdown-wrapper.is-active:after {
  position: absolute;
  top: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.dropdown-wrapper.is-active .dropdown-list {
  max-height: 800px;
}

.dropdown-list {
  /* Size & position */
  top: 100%;
  left: 0;
  right: 0;
  /* Styles */
  background: #fff;
  border-radius: 0 0 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.087);
  border-top: none;
  border-bottom: none;
  list-style: none;
  transition: all 0.3s ease-out;
  /* Hiding */
  max-height: 0;
  overflow: hidden;
  padding-left: 0;
}

.dropdown-list li:last-of-type a {
  border: none;
}

.dropdown-list a {
  display: block;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease-out;
}

.bg_section {
  background-image: url("../img/background_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container_vhodnie .dot_items {
  opacity: 0.7;
  filter: alpha(opacity=50);
}
.container_vhodnie .dot_items:hover {
  transition: 0.1s;
  transform: scale(1.1);
  opacity: 1;
  filter: alpha(opacity=50);
}
.container_vhodnie .pb-50 {
  padding-bottom: 6rem !important;
}
.container_vhodnie .image_item:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}

.container_metal .mb-10 {
  max-width: 70%;
}
.container_metal .mt-20:hover {
  cursor: pointer;
}
.container_metal .favorite_item {
  fill: red;
}

.container_technicheskie .image_item:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}

.container_besplatniy .zamer_item {
  margin-top: -15px;
}
.container_besplatniy .ms-18 {
  margin-top: -12px;
}
.container_besplatniy .input_item1 {
  height: 104px;
  width: 580px;
}
.container_besplatniy .input_item2 {
  height: 105px;
  width: 530px;
}
.container_besplatniy .input_item3 {
  height: 105px;
  width: 475px;
}

.zamerchik_item {
  width: 150px;
  height: 180px;
  margin-top: 20px;
}

.bg_section_2 {
  background-image: url("../img/background_3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_section_5 {
  background-image: url("../img/background_5.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container_photos .img_item:hover {
  transition: 0.1s;
  transform-origin: 41% 15%;
  transform: translate(3px, -3px) scale(1.13, 1.08);
}
.container_photos .ratio:hover #stroke_red {
  stroke: red !important;
}

.card .px-12:hover {
  color: white;
}
.card .heart_item:hover {
  fill: #E10148;
  cursor: pointer;
}

.container_ceni .w_25 {
  width: 10%;
}
.container_ceni .float-end {
  margin-top: -20px;
  margin-right: -20px;
}

.container_kak_zakazat .mb-0 {
  color: var(--custom-red);
}

.container_consultation .input_item1 {
  height: 104px;
  width: 590px;
}
.container_consultation .input_item2 {
  height: 104px;
  width: 534px;
}
.container_consultation .input_item3 {
  height: 105px;
  width: 475px;
}

.bg_section_4 {
  background-image: url("../img/background_4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container_collelcii .px-10:hover {
  color: white;
}
.container_collelcii .mt-md-20:hover {
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.1);
}

.container_ponaznacheniu .btn-outline-secondary:hover {
  background-color: var(--custom-red) !important;
}

.bg_section_3 {
  background-image: url("../img/background_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container_populyzrnie li {
  list-style-type: none; /* Убираем маркеры */
}
.container_populyzrnie ul {
  padding-left: 0; /* Сдвигаем список влево */
}
.container_populyzrnie button {
  width: 15%;
}

.container_photos2 button {
  width: 15%;
}

.bg_section_6 {
  background-image: url("../img/background_6.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_section_7 {
  background-image: url("../img/background_7.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_section_8 {
  background-image: url("../img/background_8.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_section_9 {
  background-image: url("../img/background_9.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-secondary_custom {
  background-color: rgba(255, 251, 251, 0.9215686275);
  min-height: 320px;
}

.container_otzivi .white_button {
  margin-right: -44%;
}
.container_otzivi .white_button p {
  color: #6a716a;
}
.container_otzivi .white_button p:hover {
  color: white;
}
.container_otzivi .arrow_down_item {
  margin-top: -15px;
}
.container_otzivi .fs-lg-8 {
  padding-top: 5px;
  margin-top: -5px;
}

.container_map .map_baner li {
  list-style-type: var(--custom-red); /* Убираем маркеры */
}
.container_map li::marker {
  color: #E10148;
}
.container_map .map {
  height: 600px;
}

:focus {
  outline: none;
}

@media (max-width: 1800px) {
  .container_metal .mt-xl-20 {
    width: 35%;
  }
  .container_metal .mb-10 {
    max-width: 35%;
  }
  .container_metal .frame2_item {
    width: 148px;
    height: 53px;
  }
  .container_metal .bg_white_button {
    width: 155px;
    height: 52px;
  }
  .container_vhodnie .icons_items {
    width: 20%;
  }
  .container_consultation .input_item {
    width: 371px;
    height: 76px;
  }
  .container_technicheskie .mt-xl-10 {
    width: 35%;
  }
  .container_technicheskie .mb-10 {
    max-width: 35%;
  }
  .container_technicheskie .frame2_item {
    width: 148px;
    height: 53px;
  }
  .container_technicheskie .bg_white_button {
    width: 155px;
    height: 52px;
  }
  .container_catalog .col-lg-3 img {
    width: 296px;
    height: 38px;
  }
  .container_catalog .container_besplatniy .input_item1 {
    height: 57px;
    width: 248px;
  }
  .container_catalog .container_besplatniy .input_item2 {
    height: 59px;
    width: 245px;
  }
  .container_catalog .container_besplatniy .input_item3 {
    height: 58px;
    width: 240px;
  }
  .container_catalog .container_besplatniy .zamer_item {
    width: 130%;
    margin-top: -28px;
  }
  .container_catalog .container_metal .mt-xl-20 {
    width: 35%;
  }
  .container_catalog .container_metal .mb-10 {
    max-width: 35%;
  }
  .container_catalog .container_metal .frame2_item {
    width: 148px;
    height: 53px;
  }
  .container_catalog .container_metal .bg_white_button {
    width: 144px;
    height: 53px;
  }
  .container_catalog .container_collelcii .carousel-control-prev {
    left: -100px;
  }
  .container_catalog .container_collelcii .carousel-control-next {
    right: -100px;
  }
  .container_catalog .container_otzivi .carousel-control-prev {
    left: -100px;
  }
  .container_catalog .container_otzivi .carousel-control-next {
    right: -100px;
  }
  .container_catalog .container_consultation .input_item1 {
    width: 234px;
    height: 76px;
  }
  .container_catalog .container_consultation .input_item2 {
    width: 237px;
    height: 76px;
  }
  .container_catalog .container_consultation .input_item3 {
    width: 240px;
    height: 76px;
  }
  .container_catalog .container_consultation .custom_font {
    margin-left: -10px;
  }
  .container_besplatniy .input_item {
    width: 371px;
    height: 76px;
  }
  .container_besplatniy .zamer_item {
    width: 112%;
  }
  .container_photos .ratio-4x4 {
    min-height: 200px !important;
  }
  .container_collelcii .carousel-inner .top_frame__item {
    width: 298px;
    height: 30px;
  }
  .container_collelcii .carousel-inner .frame2_item {
    width: 148px;
    height: 53px;
  }
  .container_collelcii .carousel-inner .bg_white_button {
    width: 155px;
    height: 52px;
  }
  .container_collelcii .justify-content-center .bg_white_button {
    width: 125px;
    height: 32px;
  }
  .container_otzivi .bg_white_button {
    width: 225px;
    height: 28px;
  }
}
@media (max-width: 1400px) {
  .container_baner .bg_black_button {
    width: 148px;
    height: 37px;
  }
  .container_baner .bg_red_button {
    width: 153px;
    height: 38px;
  }
  .container_baner .blue_logo {
    width: 15%;
  }
  .container_baner .arrow_item {
    left: -40px;
    position: relative;
  }
  .container_baner .carousel-control-prev {
    left: -105px;
  }
  .container_baner .carousel-control-prev img {
    width: 15%;
  }
  .container_baner .carousel-control-next {
    right: -105px;
  }
  .container_baner .carousel-control-next img {
    width: 15%;
  }
  .container_vhodnie .icons_items {
    width: 20%;
  }
  .container_catalog .col-lg-3 img {
    width: 253px;
    height: 31px;
  }
  .container_catalog .container_besplatniy .input_item1 {
    height: 50px;
    width: 200px;
  }
  .container_catalog .container_besplatniy .input_item2 {
    height: 50px;
    width: 203px;
  }
  .container_catalog .container_besplatniy .input_item3 {
    height: 50px;
    width: 200px;
  }
  .container_catalog .container_besplatniy .zamer_item {
    width: 130%;
    margin-top: -19px;
  }
  .container_catalog .container_besplatniy .custom_font {
    margin-left: -10px;
  }
  .container_catalog .container_metal .mb-10 {
    max-width: 35%;
  }
  .container_catalog .container_metal .frame2_item {
    width: 124px;
    height: 42px;
  }
  .container_catalog .container_metal .bg_white_button {
    width: 122px;
    height: 43px;
  }
  .container_catalog .container_metal .heart_item {
    width: 30px;
    height: 30px;
  }
  .container_catalog .container_collelcii .carousel-control-prev {
    left: -90px;
  }
  .container_catalog .container_collelcii .carousel-control-next {
    right: -90px;
  }
  .container_catalog .container_otzivi .carousel-control-prev {
    left: -90px;
  }
  .container_catalog .container_otzivi .carousel-control-next {
    right: -90px;
  }
  .container_catalog .container_consultation .input_item1 {
    width: 200px;
    height: 71px;
  }
  .container_catalog .container_consultation .input_item2 {
    width: 203px;
    height: 71px;
  }
  .container_catalog .container_consultation .input_item3 {
    width: 202px;
    height: 71px;
  }
  .container_catalog .container_consultation .custom_font {
    margin-left: -20px;
  }
  .arrow_item {
    left: -40px;
    position: relative;
  }
  .carousel-control-prev {
    left: -105px;
  }
  .carousel-control-prev img {
    width: 80%;
  }
  .carousel-control-next {
    right: -105px;
  }
  .carousel-control-next img {
    width: 80%;
  }
  .container_metal .mb-10 {
    max-width: 35%;
  }
  .container_metal .frame2_item {
    width: 128px;
    height: 43px;
  }
  .container_metal .bg_white_button {
    width: 135px;
    height: 42px;
  }
  .container_metal .heart_item {
    width: 30px;
    height: 30px;
  }
  .container_consultation .mt-10 {
    width: 90%;
  }
  .container_consultation .input_item {
    width: 300px;
    height: 71px;
  }
  .container_technicheskie .mb-10 {
    max-width: 35%;
  }
  .container_technicheskie .frame2_item {
    width: 125px;
    height: 43px;
  }
  .container_technicheskie .bg_white_button {
    width: 125px;
    height: 41px;
  }
  .container_technicheskie .heart_item {
    width: 30px;
    height: 30px;
  }
  .container_besplatniy .input_item {
    width: 300px;
    height: 71px;
  }
  .container_besplatniy .zamer_item {
    width: 117%;
  }
  .container_photos .ratio-4x4 {
    min-height: 150px !important;
  }
  .container_kak_zakazat .img_item {
    width: 30%;
  }
  .container_collelcii .carousel-inner .top_frame__item {
    width: 250px;
    height: 25px;
  }
  .container_collelcii .carousel-inner .frame2_item {
    width: 125px;
    height: 43px;
  }
  .container_collelcii .carousel-inner .bg_white_button {
    width: 125px;
    height: 41px;
  }
  .container_collelcii .justify-content-center .bg_white_button {
    width: 105px;
    height: 27px;
  }
  .container_otzivi .bg_white_button {
    width: 200px;
    height: 24px;
  }
}
@media (max-width: 1200px) {
  .сontainer_header .mail_item {
    width: 10%;
  }
  .сontainer_header .bg_black_button {
    width: 135px;
    height: 41px;
  }
  .сontainer_header .bg_red_button {
    width: 135px;
    height: 41px;
  }
  .container_baner .bg_black_button {
    width: 136px;
    height: 36px;
  }
  .container_baner .bg_red_button {
    width: 137px;
    height: 38px;
  }
  .container_baner .blue_logo {
    width: 10%;
  }
  .container_baner .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 3px;
  }
  .container_baner .carousel-control-prev {
    left: -105px;
  }
  .container_baner .carousel-control-prev img {
    width: 17%;
  }
  .container_baner .carousel-control-next {
    right: -105px;
  }
  .container_baner .carousel-control-next img {
    width: 17%;
  }
  .container_metal .miniframe {
    width: 66px;
    height: 26px;
  }
  .container_metal .heart_item {
    width: 25px;
    height: 25px;
  }
  .container_metal .frame2_item {
    width: 106px;
    height: 33px;
  }
  .container_metal .bg_white_button {
    width: 109px;
    height: 32px;
  }
  .container_catalog .col-lg-3 img {
    width: 213px;
    height: 27px;
  }
  .container_catalog .container_besplatniy .input_item1 {
    height: 44px;
    width: 164px;
  }
  .container_catalog .container_besplatniy .input_item2 {
    height: 45px;
    width: 168px;
  }
  .container_catalog .container_besplatniy .input_item3 {
    height: 43px;
    width: 168px;
  }
  .container_catalog .container_besplatniy .zamer_item {
    width: 120%;
    margin-top: -4px;
  }
  .container_catalog .container_besplatniy .custom_font {
    margin-left: -14px;
  }
  .container_catalog .container_metal .miniframe {
    width: 66px;
    height: 26px;
  }
  .container_catalog .container_metal .heart_item {
    width: 25px;
    height: 25px;
  }
  .container_catalog .container_metal .frame2_item {
    width: 100px;
    height: 33px;
  }
  .container_catalog .container_metal .bg_white_button {
    width: 100px;
    height: 32px;
  }
  .container_catalog .container_collelcii .carousel-control-prev {
    left: -80px;
  }
  .container_catalog .container_collelcii .carousel-control-next {
    right: -80px;
  }
  .container_catalog .container_otzivi .carousel-control-prev {
    left: -80px;
  }
  .container_catalog .container_otzivi .carousel-control-next {
    right: -80px;
  }
  .container_catalog .container_consultation .input_item1 {
    width: 165px;
    height: 80px;
  }
  .container_catalog .container_consultation .input_item2 {
    width: 173px;
    height: 80px;
  }
  .container_catalog .container_consultation .input_item3 {
    width: 170px;
    height: 80px;
  }
  .container_catalog .container_consultation .custom_font {
    margin-left: -20px;
  }
  .container_consultation .mt-10 {
    width: 80%;
  }
  .container_consultation .input_item {
    width: 244px;
    height: 72px;
  }
  .container_technicheskie .bg_red_button {
    width: 200px;
    height: 50px;
  }
  .container_technicheskie .miniframe {
    width: 66px;
    height: 26px;
  }
  .container_technicheskie .frame2_item {
    width: 106px;
    height: 33px;
  }
  .container_technicheskie .bg_white_button {
    width: 109px;
    height: 32px;
  }
  .container_technicheskie .heart_item {
    width: 25px;
    height: 25px;
  }
  .container_besplatniy .input_item {
    width: 245px;
    height: 62px;
  }
  .container_besplatniy .zamer_item {
    margin-top: -24px;
    width: 121%;
  }
  .container_besplatniy .order-last {
    margin-top: -2px;
  }
  .container_photos .ratio-4x4 {
    min-height: 130px !important;
  }
  .container_photos .bg_white_button {
    width: 300px;
    height: 55px;
  }
  .container_collelcii .carousel-inner .top_frame__item {
    width: 210px;
    height: 23px;
  }
  .container_collelcii .carousel-inner .frame2_item {
    width: 106px;
    height: 33px;
  }
  .container_collelcii .carousel-inner .bg_white_button {
    width: 109px;
    height: 32px;
  }
  .container_collelcii .justify-content-center .bg_white_button {
    width: 90px;
    height: 25px;
  }
  .container_kak_zakazat .bg_red_button {
    width: 200px;
    height: 50px;
  }
  .container_consultation .bg_red_button {
    width: 250px;
    height: 80px;
  }
  .container_consultation .bg_black_button {
    width: 250px;
    height: 80px;
  }
  .container_photos2 .bg_white_button {
    width: 90px;
    height: 25px;
  }
  .container_photos2 .ratio-4x4 {
    min-height: 150px !important;
  }
  .container_hudojestvenaya .bg_red_button {
    width: 200px;
    height: 50px;
  }
  .container_otzivi .bg_white_button {
    width: 180px;
    height: 20px;
  }
}
@media (max-width: 992px) {
  .bg_section {
    background-image: none;
    background-color: white;
  }
  .container_baner .arrow_item {
    left: -40px;
    position: relative;
  }
  .container_baner .carousel-control-prev {
    left: -80px;
  }
  .container_baner .carousel-control-prev img {
    width: 23%;
  }
  .container_baner .carousel-control-next {
    right: -80px;
  }
  .container_baner .carousel-control-next img {
    width: 23%;
  }
  .arrow_item {
    left: -40px;
    position: relative;
  }
  .carousel-control-prev {
    left: -80px;
  }
  .carousel-control-prev img {
    width: 80%;
  }
  .carousel-control-next {
    right: -80px;
  }
  .carousel-control-next img {
    width: 80%;
  }
  .container_metal .miniframe {
    width: 75px;
    height: 31px;
  }
  .container_metal .heart_item {
    width: 31px;
    height: 31px;
  }
  .container_metal .frame2_item {
    width: 169px;
    height: 47px;
  }
  .container_metal .bg_white_button {
    width: 170px;
    height: 48px;
  }
  .container_catalog .container_besplatniy .input_item1 {
    height: 42px;
    width: 180px;
  }
  .container_catalog .container_besplatniy .input_item2 {
    height: 43px;
    width: 179px;
  }
  .container_catalog .container_besplatniy .input_item3 {
    height: 42px;
    width: 154px;
  }
  .container_catalog .container_besplatniy .zamer_item {
    width: 120%;
    margin-top: -13px;
  }
  .container_catalog .container_besplatniy .custom_font {
    margin-left: 0px;
  }
  .container_catalog .container_metal .miniframe {
    width: 75px;
    height: 31px;
  }
  .container_catalog .container_metal .heart_item {
    width: 31px;
    height: 31px;
  }
  .container_catalog .container_metal .frame2_item {
    width: 160px;
    height: 47px;
  }
  .container_catalog .container_metal .bg_white_button {
    width: 162px;
    height: 48px;
  }
  .container_catalog .container_consultation .input_item1 {
    width: 158px;
    height: 70px;
  }
  .container_catalog .container_consultation .input_item2 {
    width: 160px;
    height: 70px;
  }
  .container_catalog .container_consultation .input_item3 {
    width: 157px;
    height: 70px;
  }
  .container_catalog .container_consultation .custom_font {
    margin-left: 0px;
  }
  .container_consultation .mt-10 {
    width: 80%;
  }
  .container_consultation .input_item {
    width: 166px;
    height: 68px;
  }
  .container_technicheskie .bg_red_button {
    width: 180px;
    height: 50px;
  }
  .container_technicheskie .miniframe {
    width: 75px;
    height: 31px;
  }
  .container_technicheskie .heart_item {
    width: 31px;
    height: 31px;
  }
  .container_technicheskie .frame2_item {
    width: 169px;
    height: 47px;
  }
  .container_technicheskie .bg_white_button {
    width: 170px;
    height: 48px;
  }
  .container_besplatniy .input_item {
    width: 162px;
    height: 40px;
  }
  .container_besplatniy .zamer_item {
    width: 124%;
  }
  .container_photos .ratio-4x4 {
    min-height: 200px !important;
  }
  .container_collelcii .carousel-inner .top_frame__item {
    width: 340px;
    height: 34px;
  }
  .container_collelcii .carousel-inner .frame2_item {
    width: 169px;
    height: 47px;
  }
  .container_collelcii .carousel-inner .bg_white_button {
    width: 170px;
    height: 48px;
  }
  .container_collelcii .justify-content-center .bg_white_button {
    width: 100%;
  }
  .container_kak_zakazat .bg_red_button {
    width: 180px;
    height: 50px;
  }
  .container_photos2 .bg_white_button {
    width: 100%;
  }
  .container_photos2 .ratio-4x4 {
    min-height: 200px !important;
  }
  .container_otzivi .bg_white_button {
    width: 233px;
    height: 32px;
  }
}
@media (max-width: 768px) {
  .container_baner .arrow_item {
    left: -40px;
    position: relative;
  }
  .container_baner .carousel-control-prev {
    left: -80px;
  }
  .container_baner .carousel-control-prev img {
    width: 30%;
  }
  .container_baner .carousel-control-next {
    right: -80px;
  }
  .container_baner .carousel-control-next img {
    width: 30%;
  }
  .container_metal .miniframe {
    width: 60px;
    height: 25px;
  }
  .container_metal .heart_item {
    width: 28px;
    height: 28px;
  }
  .container_metal .fs-5 {
    white-space: nowrap;
    margin-left: -4px;
  }
  .container_metal .frame2_item {
    width: 126px;
    height: 43px;
  }
  .container_metal .bg_white_button {
    width: 128px;
    height: 42px;
  }
  .container_catalog .col-lg-3 img {
    width: 513px;
    height: 67px;
  }
  .container_catalog .container_metal .miniframe {
    width: 60px;
    height: 25px;
  }
  .container_catalog .container_metal .heart_item {
    width: 28px;
    height: 28px;
  }
  .container_catalog .container_metal .fs-5 {
    white-space: nowrap;
    margin-left: -4px;
  }
  .container_catalog .container_metal .frame2_item {
    width: 120px;
    height: 43px;
  }
  .container_catalog .container_metal .bg_white_button {
    width: 120px;
    height: 42px;
  }
  .container_catalog .container_collelcii .carousel-control-prev {
    left: -60px;
  }
  .container_catalog .container_collelcii .carousel-control-next {
    right: -60px;
  }
  .container_catalog .container_otzivi .carousel-control-prev {
    left: -60px;
  }
  .container_catalog .container_otzivi .carousel-control-next {
    right: -60px;
  }
  .container_catalog .dropdown-wrapper:after {
    content: "";
    left: 10px;
  }
  .container_consultation .mt-10 {
    width: 80%;
    margin-top: 0 !important;
  }
  .container_consultation .input_item1 {
    width: 100%;
    height: 50%;
  }
  .container_consultation .input_item2 {
    width: 100%;
    height: 50%;
  }
  .container_consultation .input_item3 {
    width: 100%;
    height: 50%;
  }
  .container_consultation .card-img-overlay_item {
    position: relative !important;
  }
  .zamerchik_item {
    margin-top: -60px;
  }
  .container_technicheskie .miniframe {
    width: 60px;
    height: 25px;
  }
  .container_technicheskie .heart_item {
    width: 28px;
    height: 28px;
  }
  .container_technicheskie .fs-5 {
    white-space: nowrap;
    margin-left: -4px;
  }
  .container_technicheskie .frame2_item {
    width: 126px;
    height: 43px;
  }
  .container_technicheskie .bg_white_button {
    width: 128px;
    height: 42px;
  }
  .container_besplatniy .input_item1 {
    width: 100%;
    height: 50%;
  }
  .container_besplatniy .input_item2 {
    width: 100%;
    height: 50%;
  }
  .container_besplatniy .input_item3 {
    width: 100%;
    height: 50%;
  }
  .container_besplatniy .card-img-overlay_item {
    position: relative !important;
  }
  .container_photos .ratio-4x4 {
    min-height: 150px !important;
  }
  .container_collelcii .carousel-inner .top_frame__item {
    width: 250px;
    height: 25px;
  }
  .container_collelcii .carousel-inner .frame2_item {
    width: 126px;
    height: 43px;
  }
  .container_collelcii .carousel-inner .bg_white_button {
    width: 128px;
    height: 42px;
  }
  .container_collelcii .container_photos2 .ratio-4x4 {
    min-height: 150px !important;
  }
  .container_consultation .bg_black_button {
    width: 100%;
  }
  .container_populyzrnie .btn {
    width: 25%;
  }
  .container_photos2 button {
    width: 25%;
  }
  .container_otzivi .bg_white_button {
    width: 210px;
    height: 24px;
  }
}
@media (max-width: 575px) {
  .container_vhodnie .arrow_item {
    left: -16px;
    position: relative;
    width: 7%;
  }
  .container_metal .miniframe {
    width: 50px;
    height: 20px;
  }
  .container_metal .fs-5 {
    white-space: nowrap;
    margin-left: -4px;
  }
  .container_metal .heart_item {
    width: 28px;
    height: 28px;
  }
  .container_metal .mb-10 {
    margin-bottom: 0 !important;
  }
  .container_metal .frame2_item {
    width: 100%;
    height: 100%;
  }
  .container_metal .bg_white_button {
    width: 100%;
    height: 100%;
  }
  .container_metal .arrow_item {
    left: -5px;
    position: relative;
    width: 13%;
  }
  .container_catalog .col-lg-3 img {
    width: 106%;
    height: 63px;
  }
  .container_catalog .container_metal .miniframe {
    width: 50px;
    height: 20px;
  }
  .container_catalog .container_metal .fs-5 {
    white-space: nowrap;
    margin-left: -4px;
  }
  .container_catalog .container_metal .heart_item {
    width: 28px;
    height: 28px;
  }
  .container_catalog .container_metal .mb-10 {
    margin-bottom: 0 !important;
  }
  .container_catalog .container_metal .frame2_item {
    width: 100%;
    height: 100%;
  }
  .container_catalog .container_metal .bg_white_button {
    width: 100%;
    height: 100%;
  }
  .container_catalog .container_metal .arrow_item {
    left: -5px;
    position: relative;
    width: 13%;
  }
  .container_technicheskie .miniframe {
    width: 50px;
    height: 20px;
  }
  .container_technicheskie .fs-5 {
    white-space: nowrap;
    margin-left: -4px;
  }
  .container_technicheskie .heart_item {
    width: 28px;
    height: 28px;
  }
  .container_technicheskie .mt-10 {
    margin-top: 0px !important;
  }
  .container_technicheskie .mb-10 {
    margin-bottom: 0 !important;
  }
  .container_technicheskie .frame2_item {
    width: 100%;
    height: 100%;
  }
  .container_technicheskie .bg_white_button {
    width: 100%;
    height: 100%;
  }
  .container_technicheskie .arrow_item {
    left: -5px;
    position: relative;
    width: 9%;
  }
  .container_photos .ratio-4x4 {
    min-height: 100px !important;
  }
  .container_photos .arrow_item {
    left: -5px;
    position: relative;
    width: 9%;
  }
  .container_kak_zakazat .arrow_item {
    left: -5px;
    position: relative;
    width: 9%;
  }
  .container_kak_zakazat .arrow_item_2 {
    left: -5px;
    position: relative;
    width: 12%;
  }
  .container_collelcii .arrow_item {
    left: -5px;
    position: relative;
    width: 6%;
  }
  .container_collelcii .arrow_item2 {
    width: 13% !important;
  }
  .container_collelcii .carousel-inner .top_frame__item {
    width: 100%;
    margin-top: -3%;
  }
  .container_collelcii .carousel-inner .frame2_item {
    width: 100%;
    height: 100%;
  }
  .container_collelcii .carousel-inner .bg_white_button {
    width: 100%;
    height: 100%;
  }
  .container_collelcii .carousel-inner .arrow_item {
    left: -5px;
    position: relative;
    width: 7%;
  }
  .container_collelcii .carousel-inner .fs-5 {
    white-space: nowrap;
  }
  .container_ponaznacheniu .arrow_item {
    left: -5px;
    position: relative;
    width: 6%;
  }
  .container_consultation .bg_black_button {
    width: 100%;
  }
  .container_photos2 .ratio-4x4 {
    min-height: 100px !important;
  }
  .container_photos2 .arrow_item {
    left: -5px;
    position: relative;
    width: 7%;
  }
  .container_populyzrnie .arrow_item {
    left: -5px;
    position: relative;
    width: 10% !important;
  }
  .container_populyzrnie .arrow_item2 {
    left: -5px;
    position: relative;
    width: 6% !important;
  }
  .container_hudojestvenaya .arrow_item {
    left: -5px;
    position: relative;
    width: 7%;
  }
  .container_otzivi .arrow_item {
    left: -5px;
    position: relative;
    width: 6%;
  }
  .container_otzivi .bg_white_button {
    width: 190px;
    height: 25px;
  }
  .container_schema_zakaza .arrow_item {
    left: -5px;
    position: relative;
    width: 6%;
  }
}
@media (max-width: 540px) {
  .container_catalog .col-lg-3 img {
    width: 101%;
    height: 63px;
  }
  .container_otzivi .review_text {
    font-size: 11px !important;
  }
  .container_otzivi .bg_white_button {
    width: 190px;
    height: 25px;
  }
  .map_frame {
    width: 80%;
  }
}
@media (max-width: 450px) {
  .container_vhodnie .carousel-control-prev {
    left: -1%;
  }
  .container_vhodnie .carousel-control-prev img {
    width: 45%;
  }
  .container_vhodnie .carousel-control-next {
    right: -1%;
  }
  .container_vhodnie .carousel-control-next img {
    width: 45%;
  }
  .container_vhodnie .carousel-control-prev, .container_vhodnie .carousel-control-next {
    margin-top: -50px;
  }
  .container_vhodnie .prev {
    margin-left: -40px;
  }
  .container_vhodnie .next {
    margin-right: -40px;
  }
  .prev {
    margin-left: -30px;
  }
  .next {
    margin-right: -30px;
  }
  .container_metal .heart_item {
    width: 20px;
    height: 20px;
  }
  .container_metal .miniframe {
    width: 40px;
    height: 15px;
  }
  .container_metal .mt-10 {
    margin-top: 15px !important;
  }
  .container_metal .ms-20 {
    margin-left: 20px !important;
  }
  .container_metal .pt-2 {
    padding-top: 2px !important;
  }
  .container_metal .fs-7 {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 5px !important;
    font-size: 12px !important;
  }
  .container_metal .pt-5 {
    padding-top: 6px !important;
  }
  .container_metal .fs-5 {
    margin-left: -11px;
    font-size: 11px !important;
  }
  .container_metal .f-s {
    font-size: 8px !important;
    margin-left: -7px;
  }
  .container_catalog .col-lg-3 img {
    width: 101%;
    height: 43px;
  }
  .container_catalog .container_metal .heart_item {
    width: 20px;
    height: 20px;
  }
  .container_catalog .container_metal .miniframe {
    width: 40px;
    height: 15px;
  }
  .container_catalog .container_metal .mt-10 {
    margin-top: 15px !important;
  }
  .container_catalog .container_metal .ms-20 {
    margin-left: 20px !important;
  }
  .container_catalog .container_metal .pt-2 {
    padding-top: 2px !important;
  }
  .container_catalog .container_metal .fs-7 {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 5px !important;
    font-size: 12px !important;
  }
  .container_catalog .container_metal .pt-5 {
    padding-top: 6px !important;
  }
  .container_catalog .container_metal .fs-5 {
    margin-left: -11px;
    font-size: 11px !important;
  }
  .container_catalog .container_metal .f-s {
    font-size: 8px !important;
    margin-left: -7px;
  }
  .container_catalog .container_collelcii .carousel-control-prev {
    left: -20px;
  }
  .container_catalog .container_collelcii .carousel-control-next {
    right: -20px;
  }
  .container_catalog .container_collelcii .prev {
    margin-left: -1px;
  }
  .container_catalog .container_collelcii .next {
    margin-right: -1px;
  }
  .container_catalog .container_otzivi .carousel-control-prev {
    left: -8px;
  }
  .container_catalog .container_otzivi .carousel-control-next {
    right: -8px;
  }
  .container_consultation .pt-14 {
    padding-top: 18px !important;
  }
  .container_consultation .pt-7 {
    padding-top: 7px !important;
  }
  .container_technicheskie .heart_item {
    width: 20px;
    height: 20px;
  }
  .container_technicheskie .miniframe {
    width: 40px;
    height: 15px;
  }
  .container_technicheskie .mt-10 {
    margin-top: 5px !important;
  }
  .container_technicheskie .ms-20 {
    margin-left: 20px !important;
  }
  .container_technicheskie .fs-7 {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 5px !important;
    font-size: 12px !important;
  }
  .container_technicheskie .fs-5 {
    margin-left: -15px;
    font-size: 11px !important;
  }
  .container_technicheskie .text-muted {
    margin-left: -9px;
  }
  .container_technicheskie .f-s {
    font-size: 8px !important;
    margin-left: -7px;
  }
  .container_collelcii .carousel-inner .top_frame__item {
    margin-top: -8%;
    width: 100%;
  }
  .container_collelcii .carousel-inner .red_color {
    white-space: nowrap;
  }
  .container_collelcii .carousel-control-prev {
    left: -1%;
  }
  .container_collelcii .carousel-control-prev img {
    width: 45%;
  }
  .container_collelcii .carousel-control-next {
    right: -1%;
  }
  .container_collelcii .carousel-control-next img {
    width: 45%;
  }
  .container_collelcii .fs-5 {
    margin-left: -12px;
    font-size: 11px !important;
  }
  .container_collelcii .text-muted {
    margin-left: -5px;
  }
  .container_consultation .bg_black_button {
    width: 100%;
  }
  .container_besplatniy .pt-14 {
    padding-top: 18px !important;
  }
  .container_besplatniy .pt-7 {
    padding-top: 7px !important;
  }
  .container_technicheskie .carousel-control-prev {
    left: -1%;
  }
  .container_technicheskie .carousel-control-prev img {
    width: 45%;
  }
  .container_technicheskie .carousel-control-next {
    right: -1%;
  }
  .container_technicheskie .carousel-control-next img {
    width: 45%;
  }
  .container_photos .bg_white_button {
    width: 250px;
    height: 45px;
  }
  .container_ceni .arrow_item {
    left: -5px;
    position: relative;
    width: 8%;
  }
  .container_ceni .arrow_item4 {
    width: 14%;
  }
  .container_ceni .fs-7 {
    padding-top: 0 !important;
  }
  .container_kak_zakazat .img_item {
    width: 20%;
  }
  .container_otzivi .carousel-control-prev {
    left: -2%;
  }
  .container_otzivi .carousel-control-prev img {
    width: 45%;
  }
  .container_otzivi .carousel-control-next {
    right: -2%;
  }
  .container_otzivi .carousel-control-next img {
    width: 45%;
  }
  .container_otzivi .prev {
    margin-left: -20px;
  }
  .container_otzivi .next {
    margin-right: -20px;
  }
  .bg_section_3 {
    background-image: none;
    background-color: #ebeced;
  }
  .map_frame {
    width: 60%;
  }
  .container_footer .pe-5 {
    width: 22%;
  }
  .container_footer .bg_black_button {
    width: 130%;
    height: 90%;
  }
  .down_arrow {
    width: 10%;
  }
}